#top-image
  #title
    = @team.display_name
  #mentors
    - @team.mentors.each do |mentor|
      .mentor
        %a(href='#')
          .mentor-image.mentor-wobble(style="background-image:url('#{url_prefix request}#{mentor.avatar.url(:medium)}')")
          .mentor-name
            = mentor.display_name
        .mentor-links
  #tags
    - @team.tags.each do |tag|
      %a.tag(href='#') #{ tag }
  #description
    %textarea(placeholder='Write Something')
  #worked-with
    .ww#ww1
    .ww#ww2
    .ww#ww3
    .ww#ww4
    .ww#ww5
    .ww#ww6
    .ww#ww7
    .ww#ww8
  %button#apply
    .text 
      = t('teams.apply')
#page
