%tr
  %td &nbsp;
%tr
  %td
  %td
    %h2 Hello and welcome Professor #{@user.encrypted_last_name}!
%tr
  %td
  %td
    Thanks again for your interest in working with Oplerno! This email serves as 
    somewhat of an orientation resource "packet." Below, you'll find links to our 
    modules and to documents that will help you establish your courses within the 
    Oplerno network. 
    %p
    Hit reply if you have any questions.
%tr
  %td
  %td
    First, let's get started with your Marketplace account.
    %br
    Go to 
    %a(href="https://enroll.oplerno.com/users/password/edit?reset_password_token=#{@raw_token}") the Marketplace
    to reset your account password. This password will give you access to your
    mail, canvas and the Marketplace. Use this URL:
    %p
    = "https://enroll.oplerno.com/users/password/edit?reset_password_token=#{@raw_token}"
%tr
  %td
  %td
    Next, let's get started with your new email account.
%tr
  %td
  %td
    %h3 Email Account and Instructions
%tr
  %td
  %td
    %table
      %tr
        %td Access:
        %td &nbsp;
        %td
          %b mail.oplerno.com
      %tr
        %td Username:
        %td &nbsp;
        %td
          %b
            = @user.email
      %tr
        %td Password:
        %td &nbsp;
        %td
          %i
            The same password that you created in step one for your Marketplace account
%tr
  %td &nbsp;
%tr
  %td
  %td
    You can always login to your change your account preferences and password via
    %a(href='https://enroll.oplerno.com/') the Marketplace
    %br
%tr
  %td
  %td
    %hr
%tr
  %td
  %td
    %p
      We recommend using an email management program such as Thunderbird or Outlook
      (or Gmail if you prefer) to manage your email.
    %p
    The directions to set up these accounts are below:
    %p
    To set up your email via IMAP (Thunderbird, Outlook, iPhone, etc)
    %p
    %table
      %tr
        %td Username:
        %td &nbsp;
        %td
          %b
            = @user.email
      %tr
        %td Password:
        %td &nbsp;
        %td
          %i
            The same password as your Marketplace account
      %tr
        %td
          Incoming Mail Server
        %td &nbsp;
        %td
          %b
            mail.oplerno.com
      %tr
        %td
          Outgoing Mail Server
        %td &nbsp;
        %td
          %b
            mail.oplerno.com
      %tr
        %td
          Incoming Port
        %td &nbsp;
        %td
          With SSL -
          %b 993
      %tr
        %td
          Outgoing Port
        %td &nbsp;
        %td
          With SSL - one of the following:
          %b 25, 587

    %p
      To set up your email via POP3 (Gmail, etc):
    
    %table
      %tr
        %td Username:
        %td &nbsp;
        %td
          %b
            = @user.email
      %tr
        %td Password:
        %td &nbsp;
        %td
          %i
            The same password as your Marketplace account
      %tr
        %td
          Incoming Mail Server
        %td &nbsp;
        %td
          %b
            mail.oplerno.com
      %tr
        %td
          Outgoing Mail Server
        %td &nbsp;
        %td
          %b
            mail.oplerno.com
      %tr
        %td
          Incoming Port
        %td &nbsp;
        %td
          With SSL -
          %b 995
      %tr
        %td
          Outgoing Port
        %td &nbsp;
        %td
          With SSL - one of the following:
          %b 25, 587
%tr
  %td
  %td
    Lastly, visit and sign up for the
    %a(href="https://oplerno-faculty.slack.com/signup") Oplerno Faculty Lounge on
    Slack. using your new Oplerno account as your username. Here you can join
    your fellow instructors in conversation about course development, education
    in general, or other ideas!

