.row-fluid
  - if controller_name != 'sessions' && controller_name != 'welcome'
    %a.btn.btn-primary.top10(href="#{new_session_path(resource_name)}")
      %div
        = t('devise.sessions.new.sign_in')
.row-fluid.top10
  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    %a.btn.btn-default.top10(href="#{new_password_path(resource_name)}")
      %div
        = t('devise.passwords.forgot')
.row-fluid
  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    %a.btn.btn-default.top10(href="#{new_confirmation_path(resource_name)}")
      %div
        = t('devise.confirmations.no_confirmation')
  - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
    %a.btn.btn-default.top10(href="#{new_unlock_path(resource_name)}")
      %div
        = t('devise.unlocks.no_unlock')
