<div class="col-4 hidden-xs col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-0 col-lg-2 top10 teacher">
	<%= link_to(user) do %>
		<div class="teacher_image" style="background-image:url('<%= url_prefix request %><%= user.avatar.url(:medium) %>');"></div>
	<% end %>
	<div class="teacher_name top5">
		<span class="hidden-sm hidden-xs"><%= user.encrypted_title %></span>
		<span>
			<%= user.encrypted_first_name %> <%= user.encrypted_last_name %>
		</span>
	</div>
</div>
<div class="hidden-sm hidden-md hidden-lg col-xs-12 top5 teacher">
	<div class='col-xs-3'>
		<%= link_to(user) do %>
			<div class="teacher_image" style="background-image:url('<%= url_prefix request %><%= user.avatar.url(:thumb) %>');"></div>
		<% end %>
	</div>
	<div class='col-xs-4 pull-right hide_name'>
		<span>
			<%= user.encrypted_title %>
		</span>
		<span>
			<%= user.encrypted_first_name %> <%= user.encrypted_last_name %>
		</span>
	</div>
</div>
