%h2= t('devise.passwords.forgot')
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  %div
    = f.label :email
    %br/
    = f.email_field :email, :autofocus => true
  %div= f.submit t('devise.passwords.send'), {class: 'btn btn-danger' }
.clearfix
= render "devise/shared/links"
