<ul id="nav">
	<li><a href="#intro" title="Next Section"><img src="/assets/dot.png" alt="Link" /></a></li>
	<li><a href="#second" title="Next Section"><img src="/assets/dot.png" alt="Link" /></a></li>
	<li><a href="#third" title="Next Section"><img src="/assets/dot.png" alt="Link" /></a></li>
	<li><a href="#fifth" title="Next Section"><img src="/assets/dot.png" alt="Link" /></a></li>
</ul>

	<div id="intro">
		<div class="story">
	    	<div class="float-left">
					<h2><%= t('frontpage.intro.title') %></h2>
					<p><%= t('frontpage.intro.body') %></p>
	        </div>
	    </div> <!--.story-->
	</div> <!--#intro-->

	<div id="second">
		<div class="story"><div class="bg"></div>
	    	<div class="float-right">
					<h2><%= t('frontpage.second.title') %></h2>
					<p><%= t('frontpage.second.body') %></p>
	        </div>
	    </div> <!--.story-->

	</div> <!--#second-->

	<div id="third">
		<div class="story">
	    	<div class="float-left">
					<h2><%= t('frontpage.third.title') %></h2>
					<p><%= t('frontpage.third.body') %></p>
	        </div>
	    </div> <!--.story-->
	</div> <!--#third-->

	<div id="fifth">
		<div class="story">
			<div class="float-left">
				<h2><%= t('frontpage.fifth.title') %></h2>
			</div>
		</div> <!--.story-->
	</div> <!--#fifth-->
