<p id="notice"><%= notice %></p>

<p>
  <b>New:</b>
  <%= @order.new %>
</p>

<p>
  <b>Cart:</b>
  <%= @order.cart_id %>
</p>

<p>
  <b>Ip address:</b>
  <%= @order.ip_address %>
</p>

<p>
  <b>First name:</b>
  <%= @order.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @order.last_name %>
</p>

<p>
  <b>Account:</b>
  <%= @order.account %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
