<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="actions">
      <div class="pull-right">
        <div><%= f.label "Profile image" %><%= f.file_field :avatar %></div>
        <div><%= f.label :description %>
          <br/><%= f.text_area :description, :placeholder => "Add a description here" %></div>
      </div>
      <div>
        <div><%= f.label :email %>
          <br/><%= f.text_field :email, :placeholder => "Email address" %></div>
        <div><%= f.label :password %>
          <br/><%= f.password_field :password, :placeholder => :password %></div>
        <div><%= f.label :title %>
          <br/><%= f.select :title, ["", "Dr.", "Prof."] %></div>
        <div><%= f.label :first_name %>
          <br/><%= f.text_field :encrypted_first_name, :placeholder => "First name" %></div>
        <div><%= f.label :last_name %>
          <br/><%= f.text_field :encrypted_last_name, :placeholder => "Last Name" %></div>
      </div>
      <div><br/><%= f.submit "Create account", {:class => "btn btn-default"} %></div>
    </div>
    <div class="clearfix"></div>
<% end %>
