<div class="col-4 col-xs-4 col-sm-2 col-md-2 col-lg-2 top10 teacher">
	<%= link_to(teacher) do %>
		<div class="teacher_image" style="background-image:url(<%= teacher.avatar.url(:medium) %>);"></div>
	<% end %>
	<div class="teacher_name top5">
		<span class="hidden-sm hidden-xs"><%= teacher.encrypted_title %> </span><%= teacher.encrypted_first_name %>&nbsp;<%= teacher.encrypted_last_name %>
	</div>
</div>
