<div itemscope itemtype="http://schema.org/Person" class="col-4 hidden-xs col-sm-2 col-sm-offset-1 col-md-4 col-md-offset-0 col-lg-3 top10 teacher h-card vcard">
	<%= link_to(teacher, class: 'url n') do %>
		<div itemprop="image" class="teacher_image u-photo photo" style="background-image:url('<%= url_prefix request %><%= teacher.avatar.url(:medium) %>');"></div>
	<% end %>
	<div class="teacher_name top5 p-name p-author fn">
		<span itemprop="name">
			<%= teacher.display_name.force_encoding('UTF-8') %>
		</span>
		<span itemprop="jobTitle" class="hidden-sm hidden-xs honorific-prefix"><%= teacher.encrypted_title %></span>
	</div>
</div>
<div class="hidden-sm hidden-md hidden-lg col-xs-12 top5 teacher">
	<div class='col-xs-3'>
		<%= link_to(teacher) do %>
			<div class="teacher_image" style="background-image:url('<%= url_prefix request %><%= teacher.avatar.url(:thumb) %>');"></div>
		<% end %>
	</div>
	<div class='col-xs-6 pull-right hide_name'>
		<div>
			<div>
				<%= teacher.display_name.force_encoding('UTF-8') %>
			</div>
			<div><%= teacher.encrypted_title %></div>
		</div>
	</div>
</div>
