<div class="col-4 hidden-xs col-sm-2 col-sm-offset-1 col-md-3 col-md-offset-0 col-lg-3 top10 teacher">
	<%= link_to(teacher) do %>
		<div class="teacher_image" style="background-image:url('<%= url_prefix request %><%= teacher.avatar.url(:medium) %>');"></div>
	<% end %>
	<div class="teacher_name top5">
		<span class="hidden-sm hidden-xs"><%= teacher.encrypted_title %></span>
		<span>
			<%= teacher.encrypted_first_name %> <%= teacher.encrypted_last_name %>
		</span>
	</div>
</div>
<div class="hidden-sm hidden-md hidden-lg col-xs-12 top5 teacher">
	<div class='col-xs-3'>
		<%= link_to(teacher) do %>
			<div class="teacher_image" style="background-image:url('<%= url_prefix request %><%= teacher.avatar.url(:thumb) %>');"></div>
		<% end %>
	</div>
	<div class='col-xs-6 pull-right hide_name'>
		<div>
			<div>
				<%= teacher.encrypted_title %>
			</div>
			<div>
				<%= teacher.encrypted_first_name %> <%= teacher.encrypted_last_name %>
			</div>
		</div>
	</div>
</div>
