<h2><%= @teacher.title %> <%= @teacher.first_name %> <%= @teacher.last_name %></h2>
<div>
  <div>

    <div class="row">
      <div class="col-6 col-sm-6 col-lg-4">
        <img width='256' height='256' src="/teachers/<%= @teacher.key %>.jpg"/>
      </div>
      <div class="col-6 col-sm-6 col-lg-8"><%= @teacher.description %></div>
    </div>
    <hr/>
    <div class="row-fluid">
      <% @teacher.courses.each do |course| %>
          <div class="col-1 col-sm-4 col-lg-3">

            <div>
              <img width='100' height='100' src="/courses/<%= course.key %>.jpeg"/>
            </div>
            <div><%= course.name %></div>
            <div><%= link_to "Register", course, {:class => "btn btn-default"} %></div>
          </div>
      <% end unless @teacher.courses.empty? %>
    </div>

  </div>
</div>

<div class="clearfix"></div>

<br/>
<% if user_signed_in? %>
    <%= link_to 'New Course', new_course_path, {:class => "btn btn-info pull-right"} %>
    <%= link_to 'Edit', edit_teacher_path(@teacher), {:class => "btn btn-default pull-right"} %>
<% end %>

<%= link_to 'Back', teachers_path, {:class => "btn btn-default"} %>
