<h2><%= @teacher.encrypted_first_name %> <%= @teacher.encrypted_last_name %></h2>
<h3><%= @teacher.encrypted_title %></h3>
<div>
  <div>

    <div class="row">
      <div class="xs-hidden col-sm-2 col-lg-4" style="background-image:url(<%= @teacher.avatar.url(:medium) %>);height:256px;width:256px;border:1px solid black;background-position:center top;background-repeat:no-repeat;"></div>
      <div class="col-6 col-sm-6 col-lg-8"><%= @teacher.description %></div>
    </div>
    <hr/>
    <div class="row-fluid teacher">
      <%= render @teacher.courses %>
    </div>

  </div>
</div>

<div class="clearfix"></div>

<br/>
<% if user_signed_in? && @teacher.id == current_user.id %>
    <%= link_to 'Edit', edit_teacher_path(@teacher), {:class => "btn btn-default pull-right"} %>
    <%= link_to 'New Course', new_course_path, {:class => "btn btn-info pull-right"} %>
<% end %>

<%= link_to 'Back', teachers_path, {:class => "btn btn-default"} %>
