<h2><%= @teacher.title %> <%= @teacher.encrypted_first_name %> <%= @teacher.encrypted_last_name %></h2>
<div>
  <div>

    <div class="row">
      <div class="xs-hidden col-sm-2 col-lg-4" style="background-image:url(<%= @teacher.avatar.url(:medium) %>);height:256px;width:256px;border:1px solid black;background-position:center top;background-repeat:no-repeat;"></div>
      <div class="col-6 col-sm-6 col-lg-8"><%= @teacher.description %></div>
    </div>
    <hr/>
    <div class="row-fluid">
      <% @teacher.courses.each do |course| %>
          <div class="col-1 col-sm-4 col-lg-3"> <!-- class="xs-hidden col-sm-2 col-lg-4" -->
            <div style="background-image:url(<%= course.avatar.url(:thumb) %>);height:100px;width:100px;border:1px solid black;background-position:center top;background-repeat:no-repeat;"></div>
            <div><%= course.name %></div>
            <div><%= link_to "Register", course, {:class => "btn btn-danger"} %></div>
          </div>
      <% end unless @teacher.courses.empty? %>
    </div>

  </div>
</div>

<div class="clearfix"></div>

<br/>
<% if user_signed_in? && @teacher.id == current_user.id %>
    <%= link_to 'Edit', edit_teacher_path(@teacher), {:class => "btn btn-default pull-right"} %>
    <%= link_to 'New Course', new_course_path, {:class => "btn btn-info pull-right"} %>
<% end %>

<%= link_to 'Back', teachers_path, {:class => "btn btn-default"} %>
