
<div class="hide_name col-3 col-lg-3 col-sm-4 col-xs-12"><%= render @teacher %> </div>
<div class="col-9 col-lg-9 col-sm-8 col-xs-12">
	<h1 class='teacher_name'><%= @teacher.display_name.force_encoding('UTF-8') %></h1>
	<h2 class='teacher_title hidden-xs'><%= @teacher.encrypted_title %></h2>
</div>

<div class="clearfix"></div>

<div class="col-8 col-lg-8 col-md-8 col-sm-8 col-xs-8">
	<h2><%= t('teacher.about') %></h2>
	<span>
		<%= simple_format @teacher.description %>
	</span>
	<%= render partial: 'users/links/show', :handlers => [:haml], locals: { links: @user.links } %>
</div>
<div class="col-3 col-lg-3 col-md-3 col-sm-4 col-xs-8 well">
	<h2><%= t('courses.courses') %></h2>
	<div class='col-lg-12 col-xs-12'>
		<%- @teacher.courses.each { |course| %>
			<div class='col-lg-12 col-md-12 col-sm-12 col-xs-6'>
			<%= render course %>
			</div>
		<%- } %>
	</div>
</div>
<div class="clearfix"></div>
<br/>
<% if user_signed_in? && @teacher.id == current_user.id %>
    <%= link_to 'Edit', edit_teacher_path(@teacher), {:class => "btn btn-default pull-right"} %>
<% end %>

<%= link_to 'Back', teachers_path, {:class => "btn btn-default"} %>
