<div class="col-4 hidden-xs col-sm-3 col-md-2 col-lg-2 top10 course">
  <!-- The default image comes from http://www.flickr.com/photos/shutterhacks/4474421855 -->
  <%= link_to course do %>
      <div class='course_image' style="background-image:url('<%= "#{request.protocol}#{request.host_with_port}" %><%= course.avatar.url(:medium) %>');"></div>
  <%- end %>
  <% begin %>
      <div class='course_name'><%= course.name.force_encoding("binary") %></div>
  <% rescue e %>
  <%- end %>
	<% unless @cart.nil? %>
		<div><%= button_to t('cart.remove'), remove_course_from_cart_url(course), {:disabled => !user_signed_in?, :class => "btn btn-default"} %></div>
  <%- end %>
</div>
<div class="hidden-sm hidden-md hidden-lg col-xs-12 top5 course">
  <div class='col-xs-3'>
    <%= link_to course do %>
        <div class='course_image' style="background-image:url('<%= "#{request.protocol}#{request.host_with_port}" %><%= course.avatar.url(:thumb) %>');"></div>
    <%- end %>
  </div>
  <div class='col-xs-6 pull-right hide_name'>
		<div class='course_name'><%= course.name.force_encoding("binary") %>
		<% unless @cart.nil? %>
			<%= button_to 'x', remove_course_from_cart_url(course), {:disabled => !user_signed_in?, :class => "btn btn-warning btn-mini"} %>
		<%- end %>
	</div>
  </div>
</div>
