<div class="course">
  <!-- The default image comes from http://www.flickr.com/photos/shutterhacks/4474421855 -->
  <%= link_to course do %>
		<div class='course_image' style="background-image:url('<%= url_prefix request %><%= course.avatar.url(:medium) %>');"></div>
  <%- end %>
  <% begin %>
      <div class='course_name'><%= course.name.force_encoding("binary") %></div>
  <% rescue e %>
  <%- end %>
	<% unless @cart.nil? %>
		<div class='hidden-sm hidden-xs'><%= button_to t('cart.remove'), remove_course_from_cart_url(course), {:disabled => !user_signed_in?, :class => "btn btn-default"} %></div>
		<div class='hidden-lg hidden-md'><%= button_to 'x', remove_course_from_cart_url(course), {:disabled => !user_signed_in?, :class => "btn btn-warning btn-mini"} %></div>
  <%- end %>
</div>
