<%= semantic_form_for(@course) do |f| %>
    <% if @course.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

          <ul>
            <% @course.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="actions">
			<div class='col-lg-7 col-sm-6'>
				<div>
					<div><%= f.label :name %>
					<br/><%= f.text_field :name, :placeholder => "Course name" %></div>
					<div class="form-group" style='width:200px;'>
					<%= f.label :start_date %>
						<div class='input-group date' id='datetimepicker1'>
							<span class="input-group-addon">
							<%= f.text_field :start_date, :as => :datepicker %>
							<span class="glyphicon glyphicon-calendar">
							</span>
							</span>
						</div>
					</div>
					<div><%= f.label :fee %>
						<br/><%= f.text_field :price, :placeholder => "100.00" %></div>
				</div>
				<div>
					<div><%= f.label t('courses.graduate.hint') %></div>
					<div class="switch-wrapper well" style='width:270px;'>
						<input type="checkbox" value="1" checked>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
        <div><%= f.label "Course image" %><%= f.file_field :avatar %></div>
				<div class="xs-hidden col-sm-2 col-lg-4 avatar" style="background-image:url('<%= url_prefix request %><%= @course.avatar.url(:medium) %>');height:256px;width:256px;border:1px solid black;background-position:center top;background-repeat:no-repeat;"></div>
      </div>
			<div class='col-lg-3'><%= f.submit t('courses.update'), {:class => "btn btn-danger"} %></div>
			<div class='clearfix'></div>
			<div class='col-lg-5 col-md-6 col-sm-12 col-xs-12 '><%= f.label :description %>
				<br/><%= f.text_area :description, class: 'tinymce', :placeholder => "Add a description here" %></div>
			<div class='col-lg-5 col-lg-offset-1 col-md-6 col-sm-12 col-xs-12 '><%= f.label :syllabus %>
				<br/><%= f.text_area :syllabus, class: 'tinymce', :placeholder => "Add a syllabus here" %></div>
			<%= tinymce %>
			<div class='col-lg-5'>
				<%= f.label t('courses.subject.name') %>
				<div class='min-height:36px;'><%= t('courses.subject.hint') %></div>
				<div class='well' style='min-width:400px;'>
					<% Subject.all.each do |x| %>
						<div style='display: inline-block;width:170px;'>
							<label for="<%= "subject_list_#{x.id}" %>"><%= h(x.subject) %></label>
							<%= check_box_tag 'course[subject_list][]',  x.id, @course.subjects.include?(x), { id: "subject_list_#{x.id}" } %>
						</div>
					<% end %>
				</div>
			</div>
			<div class='col-lg-5 col-lg-offset-1'>
				<%= f.label t('courses.skill.name') %>
				<div style='min-height:36px;'><%= t('courses.skill.hint') %></div>
				<div class='well' style='min-width:400px;'>
					<% Skill.all.each do |x| %>
						<div id='<%= "skill_list_block_#{x.id}" %>' style='display: inline-block;width:170px;'>
							<label for="<%= "skill_list_#{x.id}" %>"><%= h(x.skill) %></label>
							<%= check_box_tag 'course[skill_list][]',  x.id, @course.skills.include?(x), { id: "skill_list_#{x.id}" } %>
						</div>
					<% end %>
					<br/>
					<%= f.label :other_skills %>
					<br/><%= f.text_field :skill, :placeholder => "Core skill" %>
				</div>
			</div>
    </div>
    <br/>
    </div>
		<div class='clearfix'><%= f.submit t('courses.update'), {:class => "btn btn-danger"} %></div>
<% end %>
