<h1><%= t('courses.title')%></h1>


<% @courses.each do |course| %>
    <div class="col-6 col-sm-6 col-lg-4 top10">

      <!-- The default image comes from http://www.flickr.com/photos/shutterhacks/4474421855 -->
      <div class='course_image' style="background-image:url(<%= course.avatar.url(:medium) %>);"></div>
      <div class='course_name'><%= course.name %></div>
      <div><%= link_to t('courses.view'), course, {:class => "btn btn-default"} %></div>
    </div>
<% end unless @courses.empty? %>


<br>

<div class="clearfix"></div>
<% if user_signed_in? %>
    <%= link_to t('courses.new'), new_course_path, {:class => "btn btn-info pull-right"} if user_signed_in? %>
<% end %>
