<div itemscope itemtype="http://schema.org/Event" itemtype="http://schema.org/Product" class='clearfix h-product hproduct h-event vevent'>
	<div class='col-lg-8 col-md-8 col-sm-9 col-xs-12' style='display: inline-block'>
		<div>
			<h1 itemprop="name" class="course_name p-name fn"><%= @course.name %></h1>
		</div>
		<div itemprop="description" class='hidden-sm hidden-xs e-description description'>
			<%= simple_format @course.description %>
		</div>
	</div>
	<div class='col-lg-3 col-md-3 col-sm-4 col-xs-6'>
		<div class='well hide_name magic_course'>
			<div class='well'>
			<%= render @course %>
			</div>
		</div>
		<%- teacher = Teacher.find(@course.teacher) unless @course.teacher.nil? or @course.teacher.empty? %>
		<%- unless teacher.nil? %>
			<div class='well'>
				<div class="well small hide_name">
					<h2><%= t('teachers.teacher') %></h2>
					<%= render teacher %>
					<div itemprop='performer' class="hidden-sm hidden-md hidden-lg col-xs-12"><%= teacher.display_name.force_encoding('UTF-8') %></div>
					<div><a class='btn btn-success' onClick="ga('send', 'event', 'button', 'click', 'mail instructor', 4); open_inquire_dialog(); return false;" href='#'><%= t 'courses.contact' %></a></div>
				</div>
			</div>
		<% end %>
		<div class='well'>
			<div class='well'>
				<h2><%= t('courses.date.start') %></h2>
				<% begin %>
					<% start_date_google = l(@course.start_date, format: :google) %>
					<% start_date = l(@course.start_date, format: :default) %>
				<% rescue %>
					<% start_date_google = '0000-00-00' %>
					<% start_date = t('courses.date.not_set') %>
				<% end %>
				<span itemprop="startDate" content="<%= start_date_google %>"><%= start_date %></span>
			</div>
		</div>
		<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class='well'>
			<div class='well'>
				<h2><%= t('courses.price') %></h2>
				<span itemprop="price" class='p-price price'>
					<% begin %>
						<%- if @course.price.nil? or @course.price <= 0 %>
							<%= t('courses.price.not_set') %>
						<%- else %>
							$<%= @course.price %>
						<%- end %>
					<% rescue %>
						<%= t('courses.price.not_set') %>
					<% end %>
				</span>
			</div>
		</div>
	</div>
	<div class='hidden-lg hidden-md col-sm-6 col-xs-6'>
		<%= simple_format @course.description %>
	</div>
	<div class='clearfix'></div>
	<div class='col-lg-8 col-md-8 col-sm-7 col-xs-6 syllabus'>
		<h2>Syllabus</h2>
		<span>
			<%= simple_format @course.syllabus %>
		</span>
	</div>
	<div class='col-lg-5 col-md-5 col-sm-5 col-xs-11 well'>
		<h2><%= t('courses.subjects') %></h2>
		<% begin %>
			<% @course.subjects.each { |subject| %>
				<span> <%= subject.subject %></span>
			<% } %>
		<% rescue %>
			<%= t('courses.subjects.not_set') %>
		<% end %>
	</div>
	<div class='col-lg-5 col-md-5 col-sm-5 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 well'>
		<h2><%= t('courses.skills') %></h2>
		<% begin %>
			<% @course.skills.each { |skill| %>
				<span> <%= skill.skill %></span>
			<% } %>
		<% rescue %>
			<%= t('courses.skills.not_set') %>
		<% end %>
	</div>
</div>

<div class="clearfix"></div>
<div class="clearfix top5">
  <div class="col-xs-4">
  <% if user_signed_in? && !teacher.nil? && teacher.id == current_user.id %>
		<%= button_to t('generic.edit'), edit_course_path(@course), {:class => "btn btn-info oplerno-cta btn-lg"} %>
	<% else %>
    <%= button_to t('courses.register'), add_course_to_cart(@course), {:disabled => !user_signed_in?|| !@course.active?, :class => "btn btn-danger oplerno-cta btn-lg"} %>
  <% end %>
  </div>
  <div class="col-xs-4">
    <%= link_to t('generic.back'), courses_path, {:class => "btn btn-default pull-right"} %>
  </div>
</div>
<%- unless teacher.nil? %>
	<%= render partial: 'inquire', :handlers => [:haml], locals: { id: teacher.id } %>
<% end %>
