<h2><%= t('devise.passwords.new.change') %></h2>

<%= #noinspection RailsParamDefResolve
    form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, t('devise.passwords.new.password') %><br />
  <%= f.password_field :password, :autofocus => true %></div>

  <div><%= f.label :password_confirmation, t('devise.passwords.new.confirm') %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit t('devise.passwords.new.button') %></div>
<% end %>

<%= render 'users/shared/links' %>
