%div(class='navbar navbar-fixed-top navbar-inverse')
  .container
    .navbar-header
      %a.cart.pull-right(href='/carts/mycart' class='btn active btn-danger navbar-toggle')
        %div
          %span(class='glyphicon glyphicon-shopping-cart')>
          %i.cartcount 0
      %button.float-right(type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse')
        %span(class='icon-bar')
        %span(class='icon-bar')       
        %span(class='icon-bar')   
      %a.float-left(href='/')
        .logo
    .navbar-collapse(class='collapse')
      %ul(class='btn-group nav navbar-nav nav-bar-browse')
        %li(class='dropdown')
          %button(class='btn dropdown-toggle' type='button' id='dropdownMenu1' data-toggle='dropdown')
            %div
              %span
                = t('browse.browse')
                &nbsp;
              %span(class='caret')>
          %ul(class='dropdown-menu' role='menu' aria-labelledby='dropdownMenu1')
            %li(role='presentation')
              %a(role='menuitem' tabindex='-1' href='/courses')
                = t('browse.by_course_title')
            %li(role='presentation')
              %a(role='menuitem' tabindex='-1' href='/teachers')
                = t('browse.by_instructor')
        %li
          - unless user_signed_in?
            %a(href='http://www.oplerno.com/')
              %div
                = t('browse.about')
          - else
            = link_to edit_user_path(current_user), {} do
              %div
                = t('browse.settings')
        %li
          %a(href='https://#{CANVAS_HOST}/')
            %div
              = t('browse.canvas')
        %li
          = semantic_form_for Search.new do |f|
            = f.inputs :searches do
              .left-inner-addon
                = f.input :term, require: true, placeholder: t('search.term'), label: false, as: :string, input_html: { class: 'form-control' }
                %i.glyphicon.glyphicon-search
      %ul.pull-right(class='btn-group nav navbar-nav nav-bar-browse')
        - unless user_signed_in?
          %li
            = link_to user_session_path, {:class => 'btn active login btn-danger'} do
              .ph
                = t('devise.sessions.new.sign_in')
          %li
            = link_to new_user_registration_path, {:class => 'btn active login btn-info'} do
              .ph
                = t('devise.sessions.new.sign_up')
        - else
          %li
            = link_to destroy_user_session_path, {:class => 'btn active login btn-danger'} do
              .ph
                = t('devise.sessions.new.sign_out')
      %ul.pull-right(class='btn-group nav navbar-nav nav-bar-browse')
        %li
          %a.cart(href='/carts/mycart' class='btn active btn-danger navbar-toggle hidden-xs')
            %div
              %span(class='glyphicon glyphicon-shopping-cart')>
              %i.cartcount 0

