<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/">
        <div class="logo"></div>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="btn-group nav navbar-nav nav-bar-browse">
				<li class="dropdown">
				  <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
						Browse
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="/subjects"><%= t('browse.by_subject') %></a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="/courses"><%= t('browse.by_course_title') %></a></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="/teachers"><%= t('browse.by_instructor') %></a></li>
					</ul>
				</li>
				<li><a class="btn" href="#about"><%= t('browse.about') %></a></li>
				<li><a class="btn" href="#contact"><%= t('browse.contact') %></a></li>
        <li><a class="btn" target="_blank" href="http://oplerno.com/faculty-recruitment/"><%= t('browse.register') %></a></li>
				<li><a class="btn" href="https://<%= CANVAS_HOST %>/" class="btn-warning nav"><%= t('browse.canvas') %></a></li>
					<li>
				<%= semantic_form_for Search.new do |f| %>
					<%= f.text_field :term, label: t("search.term"), hint: t("search.term"), placeholder: t("search.term") %>
				<% end %>
					</li>
      </ul>


      <ul class="btn-group nav navbar-nav pull-right">
        <% if user_signed_in? && !Cart.find_by_user_id(current_user.id).nil? %>
            <li>
              <%= link_to "/carts/mycart", {class: "btn-danger active cart-button"} do %>
                  <span class="glyphicon glyphicon-shopping-cart"></span> <i id="cartcount">0</i>
              <% end %>
            </li>
        <% end %>
      </ul>
			<ul id='settings' class="btn-group nav navbar-nav nav-bar-settings">
        <% if user_signed_in? %>
					<li><a class="btn" href="/users/<%= current_user.id %>"><%= current_user.encrypted_first_name %></a></li>
					<li><a class="btn" href="/users/<%= current_user.id %>/edit"><%= t('browse.nav.settings') %></a></li>
					<li><%= link_to t('devise.sessions.new.sign_out'), destroy_user_session_path, {:class => "btn active"} %></li>
        <% else %>
            <li><%= link_to t('devise.sessions.new.sign_in'), user_session_path, {:class => "btn"} %></li>
        <% end %>
				<li><a class="btn" href="#help"><%= t('browse.nav.help') %></a></li>
			</ul>
    </div>
    <!-- /.nav-collapse -->
  </div>
  <!-- /.container -->
</div>
<!-- /.navbar -->
