<!DOCTYPE html>
<!--
IP:       <%= request.ip %>
HOSTNAME: <%= Socket.gethostname %>
-->
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= csrf_meta_tag %>
  <title>Oplerno</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="http://microformats.org/profile/hcalendar">
	<link rel="profile" href="http://microformats.org/profile/hcard">

	<%= render 'layouts/meta' %>

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>

  <%= javascript_include_tag "https://www.authy.com/form.authy.min.js" %>
  <%= stylesheet_link_tag "https://www.authy.com/form.authy.min.css" %>

</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<%= render "layouts/navbar" %>

<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-xs-12 col-sm-12 col-lg-12 alerts span6 center offset2">
				<% unless notice.nil? %>
					<div class="success alert-message">
						<a class="close" href="#">×</a>
						<span><%= notice.html_safe %></span>
					</div>
				<% end %>
				<% unless alert.nil? %>
					<div class="error alert-message">
						<a class="close" href="#">×</a>
						<span>
							<%= alert %>
						</span>
					</div>
				<% end %>
      </div>
    <div class="col-xs-12 col-sm-12 col-lg-12 top30">
			<div class="row"> <!-- was row-fluid -->
        <%= yield %>
      </div>
      <!--/row-->
    </div>
    <!--/span-->

    <!--/span-->
  </div>
  <!--/row-->


</div>
<!--/.container-->
<%= render 'layouts/footer' %>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-41537918-3', 'enroll.oplerno.com');
    ga('send', 'pageview');
</script>

<script type="text/javascript">var _kmq = _kmq || [];
	var _kmk = _kmk || '4f219116dec87ba34eca0fa3c21fa3f4bf1b93ed';
	function _kms(u){
		setTimeout(function(){
			var d = document, f = d.getElementsByTagName('script')[0],
			s = d.createElement('script');
			s.type = 'text/javascript'; s.async = true; s.src = u;
			f.parentNode.insertBefore(s, f);
		}, 1);
	}
	_kms('//i.kissmetrics.com/i.js');
	_kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
</script>
</body>
</html>
