<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= csrf_meta_tag %>
  <title>Oplerno</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "normalize.css" %>
  <%= stylesheet_link_tag "main.css" %>
  <%= stylesheet_link_tag "https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "magic-bootstrap.css" %>
  <%= javascript_include_tag "modernizr-2.6.2.min.js" %>
  <%= javascript_include_tag "https://www.authy.com/form.authy.min.js" %>
  <%= stylesheet_link_tag "https://www.authy.com/form.authy.min.css" %>
  <%= javascript_include_tag "devise_authy.js" %>


</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Oplerno</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#about">About</a></li>
        <li><a target="_blank" href="http://oplerno.com/faculty-recruitment/">Register</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>

      <ul class="btn-group nav pull-right">
        <% if user_signed_in? %>
            <li><%= link_to "Sign out", destroy_user_session_path, {:class => "btn-danger active"} %></li>
        <% else %>
            <li><a class="btn-info" href="/users/sign_in">Sign In</a></li>
        <% end %>
      </ul>
      <ul class="btn-group nav pull-right">
        <li>&nbsp;</li>
      </ul>
      <ul class="btn-group nav pull-right">
        <% if user_signed_in? && !Cart.find_by_user_id(current_user.id).nil? %>
            <li><%= link_to '0', "/carts/mycart", {class: "btn-info", id: 'cartcount'} %></li>
        <% end %>
      </ul>
    </div>
    <!-- /.nav-collapse -->
  </div>
  <!-- /.container -->
</div>
<!-- /.navbar -->

<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div class="jumbotron">
        <h1 style="text-align: center;"><a href="/"><%= image_tag 'logo.png', width: '260', alt: 'Oplerno' %></a></h1>
      </div>
      <div>
        <p id="notice"><%= notice %></p>

        <p id="alert"><%= alert %></p>
      </div>

      <div class="row">
        <%= yield %>
      </div>
      <!--/row-->
    </div>
    <!--/span-->

    <!--/span-->
  </div>
  <!--/row-->

  <hr>

  <footer>
    <div class="container">
      <p class="text-muted credit">&copy; Oplerno LLC. 2013</p>
    </div>
  </footer>

</div>
<!--/.container-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<%= javascript_include_tag "plugins.js" %>
<%= javascript_include_tag "main.js" %>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>
<%= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" %>
</body>
</html>
