<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= csrf_meta_tag %>
  <title>Oplerno</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>

  <%= javascript_include_tag "https://www.authy.com/form.authy.min.js" %>
  <%= stylesheet_link_tag "https://www.authy.com/form.authy.min.css" %>

</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Oplerno</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="btn-group nav navbar-nav">
        <li><a href="#about">About</a></li>
        <li><a target="_blank" href="http://oplerno.com/faculty-recruitment/">Register</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="https://<%= CANVAS_HOST %>/" class="btn-warning nav">Canvas</a></li>
      </ul>

      <ul class="btn-group nav navbar-nav pull-right">
        <% if user_signed_in? && !Cart.find_by_user_id(current_user.id).nil? %>
            <li>
              <%= link_to "/carts/mycart", {class: "btn-danger active", style: "height:45px;color:#fff;"} do %>
                  <span class="glyphicon glyphicon-shopping-cart"></span> <i id="cartcount">0</i>
              <% end %>
            </li>
        <% end %>
        <li>&nbsp;</li>
        <% if user_signed_in? %>
            <li><%= link_to t('devise.sessions.new.sign_out'), destroy_user_session_path, {:class => "btn-info active", style: "height:45px;color:#fff;"} %></li>
        <% else %>
            <li><%= link_to t('devise.sessions.new.sign_in'), user_session_path, {:class => "btn-info active", style: "height:45px;color:#fff;"} %></li>
        <% end %>
        <li>&nbsp;</li>
        <li><a href="#help">Help</a></li>
      </ul>
    </div>
    <!-- /.nav-collapse -->
  </div>
  <!-- /.container -->
</div>
<!-- /.navbar -->

<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
      <div class="jumbotron">
        <h1 style="text-align: center;"><a href="/"><%= image_tag 'logo.png', width: '260', alt: 'Oplerno' %></a></h1>
      </div>
      <div>
        <p id="notice"><%= notice %></p>

        <p id="alert"><%= alert %></p>
      </div>

      <div class="row">
        <%= yield %>
      </div>
      <!--/row-->
    </div>
    <!--/span-->

    <!--/span-->
  </div>
  <!--/row-->


  <%= render :partial => 'layouts/popup' %>
  <hr>
  <footer>
    <div class="container navbar navbar-bottom">
      <p class="text-muted credit">&copy; Oplerno LLC. 2013-2014</p>
    </div>
  </footer>

</div>
<!--/.container-->

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-41537918-3', 'oplerno.com');
    ga('send', 'pageview');
</script>
<%= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" %>
</body>
</html>
